<po-page-default p-title="Criar oportunidade">
  <po-loading-overlay [hidden]="importLoading" p-text="Carregando, aguarde...">
  </po-loading-overlay>
  <form [formGroup]="form" *ngIf="contacts.length >=1 && organizations.length >= 1">
    <h3 class="subtitle">Oportunidade</h3>
    <div class="po-row" *ngIf="sources.length >= 1 && funnel.length >= 1 && campaigns.length >= 1">
      <po-input
        class="po-md-5"
        name="deal"
        p-label="Nome da Oportunidade"
        p-required
        [p-show-required]="true"
        formControlName="deal"
        p-placeholder="Oportunidade"
        p-clean
      >
      </po-input>
      <po-radio-group
        class="po-md-4"
        name="funnel"
        formControlName="funnel"
        p-label="Funil"
        [p-options]="funnel"
        [p-show-required]="true"
        (p-change)="addFunnelStep($event)"
      >
      </po-radio-group>
      <po-select
      *ngIf="funnelStep.length >= 1"
          class="po-md-4"
          name="funnelStep"
          [formControl]="form.controls['funnelStep']"

          p-label="Etapa do funil"
          [p-options]="funnelStep"
          [p-required]="true"
          [p-show-required]="true"
          >
      </po-select>
      <po-select
        class="po-md-4"
        name="campaign"
        p-label="Campanha"
        [formControl]="form.controls['campaign']"

        [p-required]="true"
        [p-show-required]="true"
        [p-options]="campaigns"
      >
    </po-select>
      <po-select
          class="po-md-4"
          name="deal_source"
          p-label="Fonte"
          [formControl]="form.controls['deal_source']"

          p-placeholder="De onde veio:"
          [p-options]="sources"
          [p-required]="true"
          [p-show-required]="true"
          >
      </po-select>
    </div>
    <div class="block">
      <div>
<h3 class="subtitle">Empresa</h3>
    <div class="po-row">
      <po-select
          class="po-md-4"
          name="organization"
          p-label="Nome da empresa"
          [formControl]="form.controls['organization']"
          p-placeholder="Nome"
          [p-options]="organizations"
          [p-required]="true"
          [p-show-required]="true"
          >
      </po-select>
    </div>
      </div>
      <div id="contacts">
        <h3 class="subtitle">Contatos</h3>
    <div class="po-row" id="contacts">
      <po-multiselect
      class="po-md-6"
      name="contact"
      p-label="Contatos"
      [p-options]="contacts"
      formControlName="contacts"
      >
  </po-multiselect>
    </div>
      </div>
    </div>
    <h3 class="subtitle">Usuário</h3>
    <div class="po-row">
      <po-select
          class="po-md-4"
          name="user"
          p-label="Responsável"
          [formControl]="form.controls['user']"
          [p-options]="users"
          [p-required]="true"
          [p-show-required]="true"
          >
      </po-select>
    </div>
    <po-divider></po-divider>
  <po-button p-label="Criar" (p-click)="onButtonClick()" [p-disabled]="disable"> </po-button>
  </form>

</po-page-default>
