<po-page-default p-title="Criar Tarefa">
  <div class="po-row">
    <form [formGroup]="form" class="search">
      <po-input formControlName="search" p-clean p-placeholder="Pesquisar" (keydown.enter)="mapToSelectItems(form.value.search)"> </po-input>
      <po-button (p-click)="mapToSelectItems(this.form.value.search)" p-icon="po-icon-search"> </po-button>
    </form>
  </div>
  <div class="po-row">
    <po-disclaimer-group [p-disclaimers]="disclaimer" (p-remove)="mapToSelectItems()"></po-disclaimer-group>
  </div>
  <hr/>
  <po-loading-overlay [hidden]="loading" p-text="Carregando, aguarde...">
  </po-loading-overlay>
  <div class="po-row" id="table" >
    <po-table [p-items]="items" [p-columns]="columns">
  </po-table>
  </div>
  <app-form></app-form>
</po-page-default>
